doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dashboard of #{result[0].username}
    link(rel='stylesheet', href='css/style.default.css', type='text/css')
    link(rel='stylesheet', href='css/responsive-tables.css')
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='js/jquery-ui-1.9.2.min.js')
    script(type='text/javascript', src='js/modernizr.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.cookie.js')
    script(type='text/javascript', src='js/jquery.uniform.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.resize.min.js')
    script(type='text/javascript', src='js/responsive-tables.js')
    script(type='text/javascript', src='js/custom.js')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='js/excanvas.min.js')
  body
    .mainwrapper
      .header
        .logo
          a(href='/')
            img(src='images/indexlogo.png', alt='')
        .headerinner
          ul.headmenu
            li.right
              .userloggedinfo
                img(src='data:image/jpge;base64,#{result[0].img}', alt='')
                .userinfo
                  h5
                    | #{result[0].name} #{result[0].surname} 
                    small - #{result[0].name}
                  ul
                    li
                      a(href='/editprofile') Edit Profile
                    li
                      a(href='') Account Settings
                    li
                      a(href='/logout') Sign Out
          // headmenu
      .leftpanel
        .leftmenu
          ul.nav.nav-tabs.nav-stacked
            li.nav-header Navigation
            li.active
              a(href='/')
                span.iconfa-laptop
                |  Dashboard
            li.dropdown
              a(href='')
                span.iconfa-user
                |  Profile
              ul(style='display: block')
                li
                  a(href='/users/#{result[0]._id}') Private Profile
                li
                  a(href='/editprofile') Edit Profile
            li
              a(href='/calendar')
                span.iconfa-calendar
                |  Calendar
        // leftmenu
      // leftpanel      // leftpanel
      .rightpanel
        ul.breadcrumbs
          li
            a(href='/')
              i.iconfa-home
            span.separator
          li Dashboard
          li.right
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.icon-tint
              |  Color Skins
            ul.dropdown-menu.pull-right.skin-color
              li
                a(href='default') Default
              li
                a(href='navyblue') Navy Blue
              li
                a(href='palegreen') Pale Green
              li
                a(href='red') Red
              li
                a(href='green') Green
              li
                a(href='brown') Brown
        .pageheader
          form.searchbar(action='result[0]s.html', method='post')
            input(type='text', name='keyword', placeholder='To search type and hit enter...')
          .pageicon
            span.iconfa-laptop
          .pagetitle
            h5 All Features Summary
            h1 Dashboard
        // pageheader
        .maincontent
          .maincontentinner
            .row-fluid
              #dashboard-left.span8
                h5.subtitle Recently Viewed Pages
                ul.shortcuts
                  li.events
                    a(href='/calendar')
                      span.shortcuts-icon.iconsi-event
                      span.shortcuts-label Events
                  li.products
                    a(href='/users/#{result[0]._id}', target='_blank')
                      span.shortcuts-icon.iconsi-user
                      span.shortcuts-label Profile
                  li.archive
                    a(href='https://github.com/alu0100694765/web-app-ITS', target='_blank')
                      span.shortcuts-icon.iconsi-source
                      span.shortcuts-label Source Code
                  li.last.images
                    a(href='/beacon')
                      span.shortcuts-icon.iconsi-beacon
                      span.shortcuts-label Beacons App                      
                  li.help
                    a(href='/help')
                      span.shortcuts-icon.iconsi-help
                      span.shortcuts-label Help
                br
                .span10
                  h4.widgettitle Welcome Message
                  .widgetcontent
                    h3 Welcome back #{result[0].title} #{result[0].name} #{result[0].surname}  
                    p
                      | We are glad to see you back. How are you? Hope you had a wonderful trip.
                br                   
              // span8
              #dashboard-right.span4
                h5.subtitle Announcements
                .divider15
                .alert.alert-block
                  button.close(data-dismiss='alert', type='button') ×
                  h4 Warning!
                  p(style='margin: 8px 0')
                    | Remember check your profile page before going for a adventurous trip. Please set correctly your Beacon also, any doubts consult help page.
                // alert
                br
                h4.widgettitle Event Calendar
                .widgetcontent.nopadding
                  #datepicker
                br                 
              // span4
            // row-fluid
            .footer
              .footer-left
                span 2015. Sawan J. Kapai Harpalani.
            // footer
          // maincontentinner
        // maincontent
      // rightpanel
    // mainwrapper
    script(type='text/javascript').
      jQuery(document).ready(function() {
      //datepicker
      jQuery('#datepicker').datepicker();
      // tabbed widget
      jQuery('.tabbedwidget').tabs();
      });
