doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Information
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/style.default.css', type='text/css')
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='js/jquery-ui-1.9.2.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.uniform.min.js')
    script(type='text/javascript', src='js/jquery.dataTables.min.js')
    script(type='text/javascript', src='js/jquery.cookie.js')
    script(type='text/javascript', src='js/modernizr.min.js')
    script(type='text/javascript', src='js/responsive-tables.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')  
    script(type='text/javascript').
      function checkAdmin() { 
      if("#{result[0].admin}" === 'true') {
      document.getElementById('admin_tools').style.visibility = "visible";
      };
      }         
      function create2DArray(rows){
        var arr = [];
        for (var i=0;i<rows;i++) {
          arr[i] = [];
        }
        return arr;
      }
      var data = !{JSON.stringify(tableData)};
      var dataSett = create2DArray(data.length);
      for (var i=0; i< data.length; i++){
        dataSett[i][0] = data[i].name + " " + data[i].surname;
        dataSett[i][1] = data[i].age;
        dataSett[i][2] = data[i].sex;
        dataSett[i][3] = data[i].idType;
        dataSett[i][4] = data[i].idNumber;
        dataSett[i][5] = data[i].phone;
      }
      var data_addr = !{JSON.stringify(addr)};
      var dataSetAddr = create2DArray(data_addr.length);
      for (var i=0; i< data_addr.length; i++){
        dataSetAddr[i][0] = data_addr[i].name + " " + data_addr[i].surname;
        dataSetAddr[i][1] = data_addr[i].address;
        dataSetAddr[i][2] = data_addr[i].locality;
        dataSetAddr[i][3] = data_addr[i].city;
        dataSetAddr[i][4] = data_addr[i].country;
      } 
      var data_health = !{JSON.stringify(health)};
      var dataSetHealth = create2DArray(data_health.length);
      for (var i=0; i< data_health.length; i++){
        dataSetHealth[i][0] = data_health[i].name + " " + data_health[i].surname;
        dataSetHealth[i][1] = data_health[i].heartPatient;
        dataSetHealth[i][2] = data_health[i].respiratoryPatient;
        dataSetHealth[i][3] = data_health[i].Hemophilia;
        dataSetHealth[i][4] = data_health[i].allergies;
      }            
      $(document).ready(function() {
      $('#dyntable').dataTable( {
      "data": dataSett,
      "columns": [
      { "title": "Name" },
      { "title": "Age", "class": "center"  },
      { "title": "Sex", "class": "center"  },
      { "title": "ID type", "class": "center" },
      { "title": "ID Number"},
      { "title": "Phone Number"}
      ]
      } );
      $('#address_table').dataTable( {
      "data": dataSetAddr,
      "columns": [
      { "title": "Name" },
      { "title": "Address"},
      { "title": "Locality", "class": "center"  },
      { "title": "City", "class": "center" },
      { "title": "Country", "class": "center" },
      ]
      } ); 
      $('#health_table').dataTable( {
      "data": dataSetHealth,
      "columns": [
      { "title": "Name" },
      { "title": "Heart Problems", "class": "center" },
      { "title": "Respiratory Problems", "class": "center"  },
      { "title": "Hemophilia", "class": "center" },
      { "title": "Allergies"},
      ]
      } );            
      } );       
  body(onload='checkAdmin();')
    .mainwrapper
      .header
        .logo
          a(href='/')
            img(src='images/index_logo_inside.png', alt='')
        .headerinner
          ul.headmenu
            li.right
              .userloggedinfo
                img(src='data:image/jpge;base64,#{result[0].img}', alt='')
                .userinfo
                  h5
                    | #{result[0].name} #{result[0].surname} 
                    small - #{result[0].name}
                  ul
                    li
                      a(href='/editprofile') Edit Profile
                    li
                      a(href='') Account Settings
                    li
                      a(href='/logout') Sign Out
          // headmenu
      .leftpanel
        .leftmenu
          ul.nav.nav-tabs.nav-stacked
            li.nav-header Navigation
            li
              a(href='/')
                span.iconfa-laptop
                |  Dashboard
            li.dropdown
              a(href='')
                span.iconfa-user
                |  Profile
              ul
                li
                  a(href='/users/#{result[0]._id}', target='_blank') Private Profile
                li
                  a(href='/editprofile') Edit Profile
            li
              a(href='/calendar')
                span.iconfa-calendar
                |  Calendar
            li
                a(href='/beacon')
                  span.iconfa-rss
                  |  Beacon app
            li
                a(href='/help')
                  span.iconfa-question-sign
                  |  Help    
            li#admin_tools.active.dropdown(style='visibility: hidden')
              a(href='')
                span.iconfa-group
                |  Users
              ul
                li
                  a(href='/data') Information
                li
                  a(href='/stats') Statistics                                              
        // leftmenu
      // leftpanel      // leftpanel
      .rightpanel
        ul.breadcrumbs
          li
            a(href='/')
              i.iconfa-home
            span.separator
          li Information
          li.right
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.icon-tint
              |  Color Skins
            ul.dropdown-menu.pull-right.skin-color
              li
                a(href='default') Default
              li
                a(href='navyblue') Navy Blue
              li
                a(href='palegreen') Pale Green
              li
                a(href='red') Red
              li
                a(href='green') Green
              li
                a(href='brown') Brown
        .pageheader
          .pageicon
            span.iconfa-info-sign
          .pagetitle
            h5 All the information about the users
            h1 Information
        // pageheader
        .maincontent
          .maincontentinner
                h4.widgettitle Users Table
                table#dyntable.table.table-bordered.responsive
                h4.widgettitle Address Table
                table#address_table.table.table-bordered.responsive
                h4.widgettitle Health Table
                table#health_table.table.table-bordered.responsive                                
            .footer
              .footer-left
                span 2015. Sawan J. Kapai Harpalani.
            // footer
          // maincontentinner
        // maincontent
      // rightpanel
    // mainwrapper
