doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Beacon App
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/style.default.css', type='text/css')
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='js/jquery-ui-1.9.2.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.uniform.min.js')
    script(type='text/javascript', src='js/jquery.dataTables.min.js')
    script(type='text/javascript', src='js/jquery.cookie.js')
    script(type='text/javascript', src='js/modernizr.min.js')
    script(type='text/javascript', src='js/responsive-tables.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')  
    script(type='text/javascript').
      function checkAdmin() { 
      if("#{result[0].admin}" === 'true') {
      document.getElementById('admin_tools').style.visibility = "visible";
      };
      }         
      var dataSet = [
      ['Trident','Internet Explorer 4.0','Win 95+','4','X'],
      ['Trident','Internet Explorer 5.0','Win 95+','5','C'],
      ['Trident','Internet Explorer 5.5','Win 95+','5.5','A'],
      ['Trident','Internet Explorer 6','Win 98+','6','A'],
      ['Trident','Internet Explorer 7','Win XP SP2+','7','A'],
      ['Trident','AOL browser (AOL desktop)','Win XP','6','A'],
      ['Gecko','Firefox 1.0','Win 98+ / OSX.2+','1.7','A'],
      ['Gecko','Firefox 1.5','Win 98+ / OSX.2+','1.8','A'],
      ['Gecko','Firefox 2.0','Win 98+ / OSX.2+','1.8','A'],
      ['Gecko','Firefox 3.0','Win 2k+ / OSX.3+','1.9','A'],
      ['Gecko','Camino 1.0','OSX.2+','1.8','A'],
      ['Gecko','Camino 1.5','OSX.3+','1.8','A'],
      ['Gecko','Netscape 7.2','Win 95+ / Mac OS 8.6-9.2','1.7','A'],
      ['Gecko','Netscape Browser 8','Win 98SE+','1.7','A'],
      ['Gecko','Netscape Navigator 9','Win 98+ / OSX.2+','1.8','A'],
      ['Gecko','Mozilla 1.0','Win 95+ / OSX.1+',1,'A'],
      ['Gecko','Mozilla 1.1','Win 95+ / OSX.1+',1.1,'A'],
      ['Gecko','Mozilla 1.2','Win 95+ / OSX.1+',1.2,'A'],
      ['Gecko','Mozilla 1.3','Win 95+ / OSX.1+',1.3,'A'],
      ['Gecko','Mozilla 1.4','Win 95+ / OSX.1+',1.4,'A'],
      ['Gecko','Mozilla 1.5','Win 95+ / OSX.1+',1.5,'A'],
      ['Gecko','Mozilla 1.6','Win 95+ / OSX.1+',1.6,'A'],
      ['Gecko','Mozilla 1.7','Win 98+ / OSX.1+',1.7,'A'],
      ['Gecko','Mozilla 1.8','Win 98+ / OSX.1+',1.8,'A'],
      ['Gecko','Seamonkey 1.1','Win 98+ / OSX.2+','1.8','A'],
      ['Gecko','Epiphany 2.20','Gnome','1.8','A'],
      ['Webkit','Safari 1.2','OSX.3','125.5','A'],
      ['Webkit','Safari 1.3','OSX.3','312.8','A'],
      ['Webkit','Safari 2.0','OSX.4+','419.3','A'],
      ['Webkit','Safari 3.0','OSX.4+','522.1','A'],
      ['Webkit','OmniWeb 5.5','OSX.4+','420','A'],
      ['Webkit','iPod Touch / iPhone','iPod','420.1','A'],
      ['Webkit','S60','S60','413','A'],
      ['Presto','Opera 7.0','Win 95+ / OSX.1+','-','A'],
      ['Presto','Opera 7.5','Win 95+ / OSX.2+','-','A'],
      ['Presto','Opera 8.0','Win 95+ / OSX.2+','-','A'],
      ['Presto','Opera 8.5','Win 95+ / OSX.2+','-','A'],
      ['Presto','Opera 9.0','Win 95+ / OSX.3+','-','A'],
      ['Presto','Opera 9.2','Win 88+ / OSX.3+','-','A'],
      ['Presto','Opera 9.5','Win 88+ / OSX.3+','-','A'],
      ['Presto','Opera for Wii','Wii','-','A'],
      ['Presto','Nokia N800','N800','-','A'],
      ['Presto','Nintendo DS browser','Nintendo DS','8.5','C/A<sup>1</sup>'],
      ['KHTML','Konqureror 3.1','KDE 3.1','3.1','C'],
      ['KHTML','Konqureror 3.3','KDE 3.3','3.3','A'],
      ['KHTML','Konqureror 3.5','KDE 3.5','3.5','A'],
      ['Tasman','Internet Explorer 4.5','Mac OS 8-9','-','X'],
      ['Tasman','Internet Explorer 5.1','Mac OS 7.6-9','1','C'],
      ['Tasman','Internet Explorer 5.2','Mac OS 8-X','1','C'],
      ['Misc','NetFront 3.1','Embedded devices','-','C'],
      ['Misc','NetFront 3.4','Embedded devices','-','A'],
      ['Misc','Dillo 0.8','Embedded devices','-','X'],
      ['Misc','Links','Text only','-','X'],
      ['Misc','Lynx','Text only','-','X'],
      ['Misc','IE Mobile','Windows Mobile 6','-','C'],
      ['Misc','PSP browser','PSP','-','C'],
      ['Other browsers','All others','-','-','U']
      ];
      function create2DArray(rows){
        var arr = [];
        for (var i=0;i<rows;i++) {
          arr[i] = [];
        }
        return arr;
      }
      var data = !{JSON.stringify(tableData)};
      var dataSett = create2DArray(data.length);
      for (var i=0; i< data.length; i++){
        dataSett[i][0] = data[i].name;
        dataSett[i][1] = data[i].age;
        dataSett[i][2] = data[i].sex;
        dataSett[i][3] = data[i].idType;
        dataSett[i][4] = data[i].idNumber;
      }
      $(document).ready(function() {
      $('#dyntable').dataTable( {
      "data": dataSett,
      "columns": [
      { "title": "Name" },
      { "title": "Age", "class": "center"  },
      { "title": "Sex", "class": "center"  },
      { "title": "ID type", "class": "center" },
      { "title": "ID Number"}
      ]
      } );
      } );       
  body(onload='checkAdmin();')
    .mainwrapper
      .header
        .logo
          a(href='/')
            img(src='images/index_logo_inside.png', alt='')
        .headerinner
          ul.headmenu
            li.right
              .userloggedinfo
                img(src='data:image/jpge;base64,#{result[0].img}', alt='')
                .userinfo
                  h5
                    | #{result[0].name} #{result[0].surname} 
                    small - #{result[0].name}
                  ul
                    li
                      a(href='/editprofile') Edit Profile
                    li
                      a(href='') Account Settings
                    li
                      a(href='/logout') Sign Out
          // headmenu
      .leftpanel
        .leftmenu
          ul.nav.nav-tabs.nav-stacked
            li.nav-header Navigation
            li
              a(href='/')
                span.iconfa-laptop
                |  Dashboard
            li.dropdown
              a(href='')
                span.iconfa-user
                |  Profile
              ul
                li
                  a(href='/users/#{result[0]._id}', target='_blank') Private Profile
                li
                  a(href='/editprofile') Edit Profile
            li
              a(href='/calendar')
                span.iconfa-calendar
                |  Calendar
            li
                a(href='/beacon')
                  span.iconfa-rss
                  |  Beacon app
            li
                a(href='/help')
                  span.iconfa-question-sign
                  |  Help    
            li#admin_tools.active.dropdown(style='visibility: hidden')
              a(href='')
                span.iconfa-group
                |  Users
              ul
                li
                  a(href='/data') Data
                li
                  a(href='/stats') Statistics                                              
        // leftmenu
      // leftpanel      // leftpanel
      .rightpanel
        ul.breadcrumbs
          li
            a(href='/')
              i.iconfa-home
            span.separator
          li Beacon
          li.right
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.icon-tint
              |  Color Skins
            ul.dropdown-menu.pull-right.skin-color
              li
                a(href='default') Default
              li
                a(href='navyblue') Navy Blue
              li
                a(href='palegreen') Pale Green
              li
                a(href='red') Red
              li
                a(href='green') Green
              li
                a(href='brown') Brown
        .pageheader
          .pageicon
            span.iconfa-rss
          .pagetitle
            h5 Android App
            h1 Beacon Apps
        // pageheader
        .maincontent
          .maincontentinner
                h4.widgettitle Data Table
                table#dyntable.table.table-bordered.responsive

            .footer
              .footer-left
                span 2015. Sawan J. Kapai Harpalani.
            // footer
          // maincontentinner
        // maincontent
      // rightpanel
    // mainwrapper
