doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Profile page of #{result[0].username}
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='HandheldFriendly', content='true')
    meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Simonetta:400,900|Balthazar')
    link(rel='stylesheet', href='/css/styles.css', type='text/css')
    link(rel='stylesheet', href='/css/responsive.css', type='text/css')
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    script(type='text/javascript').
      function showInfo() {
      if("#{profile_type}" == "public") {
      var myList = document.getElementsByTagName("li");
      for (var i=0;i<myList.length;i++) {
      if(myList[i].id != "heartPatient" && myList[i].id != "respiratoryPatient" && myList[i].id != "Hemophilia" && myList[i].id != "bloodGroup" && myList[i].id != "allergies" ) {
      myList[i].style["color"] = "transparent";
      myList[i].style["text-shadow"] = "0 0 20px rgba(0,0,0,0.5)";
      myList[i].innerHTML = "This is confidential Information, better luck next time";
      }
      }
      address.style["color"] = "transparent";
      address.style["text-shadow"] = "0 0 40px rgba(0,0,0,0.5)";
      address.innerHTML = "This is confidential Information, better luck next time";
      header.style["color"] = "transparent";
      header.style["text-shadow"] = "0 0 40px rgba(0,0,0,0.5)";
      header.innerHTML = "This is confidential Information";
      username.style["color"] = "transparent";
      username.style["text-shadow"] = "0 0 40px rgba(0,0,0,0.5)";
      username.innerHTML = "This is confidential Information";
      } else{
      header.innerHTML = "#{result[0].title} #{result[0].name} #{result[0].surname}";
      username.innerHTML = "#{result[0].username}";
      namePI.innerHTML = "<strong>Name: </strong> #{result[0].name} #{result[0].surname}";
      age.innerHTML = "<strong>Age: </strong> #{result[0].age}";
      sex.innerHTML = "<strong>Sex: </strong> #{result[0].sex}";
      id_type.innerHTML = "<strong>ID Type: </strong> #{result[0].idType}";
      id_number.innerHTML = "<strong>ID Number: </strong> #{result[0].idNumber}";
      address.innerHTML = "#{result[0].address}, #{result[0].city}, #{result[0].locality}, #{result[0].zipCode}, #{result[0].country}";
      email.innerHTML = "<strong>Email: </strong> #{result[0].email}";
      phone.innerHTML = "<strong>Phone number: </strong> #{result[0].phone}";
      second_phone.innerHTML = "<strong>Alternative phone Number: </strong> #{result[0].secondPhone}";
      }
      }
  body(onload='showInfo();')
    #w(itemscope='', itemtype='http://schema.org/Person')
      header.clearfix
        #info
          h1#header
            span(itemprop='name') Checking privacy...
          h3#username
            span(itemprop='jobTitle') Checking privacy...
        #photo
          img(src='data:image/jpge;base64,#{result[0].img}', alt='#{result[0].name} #{result[0].surname}', itemprop='image')
      section#profile
        h2 Personal Information & Address
        section#skills.clearfix(itemscope='', itemtype='http://schema.org/ItemList')
          section#skills-left
            h4(itemprop='about') Personal Information
            ul#personalInfo
              li#namePI(itemprop='itemListElement')
                strong Name: 
                |  Checking privacy...
              li#age(itemprop='itemListElement')
                strong Age: 
                |  Checking privacy...
              li#sex(itemprop='itemListElement')
                strong Sex: 
                |  Checking privacy...
              li#id_type(itemprop='itemListElement')
                strong ID Type: 
                |  Checking privacy...
              li#id_number(itemprop='itemListElement')
                strong ID Number: 
                |  Checking privacy...
          section#skills-right
            h4(itemprop='about') Address
            p#address
              | Checking privacy...
      section#skills.clearfix(itemscope='', itemtype='http://schema.org/ItemList')
        h2(itemprop='name') Contact & Health Information
        section#skills-left
          h4(itemprop='about') Contact
          ul
            li#email(itemprop='itemListElement')
              strong Email: 
              | Checking privacy...
            li#phone(itemprop='itemListElement')
              strong Phone number:
              | Checking privacy...
            li#second_phone(itemprop='itemListElement')
              strong Alternative phone Number:
              | Checking privacy...
        section#skills-right
          h4(itemprop='about') Health Information
          ul#health
            li#heartPatient(itemprop='itemListElement')
              strong Heart patient: 
              | #{result[0].heartPatient}
            li#respiratoryPatient(itemprop='itemListElement')
              strong Respiratory problems: 
              | #{result[0].respiratoryPatient}
            li#Hemophilia(itemprop='itemListElement')
              strong Hemophilia: 
              | #{result[0].Hemophilia}
            li#bloodGroup(itemprop='itemListElement')
              strong Blood group: 
              | #{result[0].bloodGroup}
            li#allergies(itemprop='itemListElement')
              strong Allergies: 
              | #{result[0].allergies}
      section#education
        h2 Other Comments
        p #{result[0].otherComments}
