doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Statistics
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')    
    link(rel='stylesheet', href='css/style.default.css', type='text/css')
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='js/jquery-ui-1.9.2.min.js')
    script(type='text/javascript', src='js/modernizr.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.pie.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.symbol.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.fillbetween.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.crosshair.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.stack.min.js')
    script(type='text/javascript', src='js/flot/jquery.flot.resize.min.js')
    script(type='text/javascript', src='js/jquery.cookie.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='js/Chart.js')   
    script(type='text/javascript').
      jQuery(document).ready(function(){    
      /**PIE CHART IN MAIN PAGE WHERE LABELS ARE INSIDE THE PIE CHART**/
      var women = !{JSON.stringify(n_women)};
      var men = !{JSON.stringify(n_men)};
      var data = [];
      var series = 2;
      for( var i = 0; i<series; i++) {
        if (i == 0) {
          data[i] = { label: women[0].sex, data: women.length }
        } else if (i == 1) {
          data[i] = { label: men[0].sex, data: men.length }
        };
      }
      jQuery.plot(jQuery("#piechart"), data, {
          colors: ['#680fb3','#9ab30f','#b32e0f','#0f6fb3','#b30fa6'],       
          series: {
            pie: { show: true }
          }
      });          
      });
    script(type='text/javascript').
      function checkAdmin() {
      if("#{result[0].admin}" === 'true') {
      var ctx = document.getElementById('chart').getContext("2d");
      Chart.defaults.global.responsive = true;
      var heart = !{JSON.stringify(n_heart)};
      var respiratory = !{JSON.stringify(n_respiratory)};
      var hemophilia = !{JSON.stringify(n_hemophilia)};
      var data = {
          labels: ["Heart patient", "Respiratory patient", "Hemophilia"],
          datasets: [
              {
                  label: "My First dataset",
                  fillColor: "rgba(151,187,205,0.5)",
                  strokeColor: "rgba(151,187,205,0.8)",
                  highlightFill: "rgba(151,187,205,0.75)",
                  highlightStroke: "rgba(151,187,205,1)",
                  data: [heart.length, respiratory.length, hemophilia.length]
              }
          ]
      };
      var myBarChart = new Chart(ctx).Bar(data);        
      document.getElementById('admin_tools').style.visibility = "visible";
      };
      }            
  body(onload='checkAdmin();')
    .mainwrapper
      .header
        .logo
          a(href='/')
            img(src='images/index_logo_inside.png', alt='')
        .headerinner
          ul.headmenu
            li.right
              .userloggedinfo
                img(src='data:image/jpge;base64,#{result[0].img}', alt='')
                .userinfo
                  h5
                    | #{result[0].name} #{result[0].surname} 
                    small - #{result[0].name}
                  ul
                    li
                      a(href='/editprofile') Edit Profile
                    li
                      a(href='') Account Settings
                    li
                      a(href='/logout') Sign Out
          // headmenu
      .leftpanel
        .leftmenu
          ul.nav.nav-tabs.nav-stacked
            li.nav-header Navigation
            li
              a(href='/')
                span.iconfa-laptop
                |  Dashboard
            li.dropdown
              a(href='')
                span.iconfa-user
                |  Profile
              ul
                li
                  a(href='/users/#{result[0]._id}', target='_blank') Private Profile
                li
                  a(href='/editprofile') Edit Profile
            li
              a(href='/calendar')
                span.iconfa-calendar
                |  Calendar
            li
                a(href='/beacon')
                  span.iconfa-rss
                  |  Beacon app
            li
                a(href='/help')
                  span.iconfa-question-sign
                  |  Help                               
            li#admin_tools.active.dropdown(style='visibility: hidden')
              a(href='')
                span.iconfa-group
                |  Users
              ul
                li
                  a(href='/data') Information
                li
                  a(href='/stats') Statistics                   
        // leftmenu
      // leftpanel      // leftpanel
      .rightpanel
        ul.breadcrumbs
          li
            a(href='/')
              i.iconfa-home
            span.separator
          li Statistics
          li.right
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.icon-tint
              |  Color Skins
            ul.dropdown-menu.pull-right.skin-color
              li
                a(href='default') Default
              li
                a(href='navyblue') Navy Blue
              li
                a(href='palegreen') Pale Green
              li
                a(href='red') Red
              li
                a(href='green') Green
              li
                a(href='brown') Brown
        .pageheader
          .pageicon
            span.iconfa-bar-chart
          .pagetitle
            h5 Lets study the data
            h1 Statistics
        // pageheader
        .maincontent
          .maincontentinner
            .row-fluid
              .span6
                h4.widgettitle Health Statistics
                .widgetcontent
                  #barchart(style='height:300px;')
                    canvas#chart.base(width='453', height='300')
              // span6
              .span6
                h4.widgettitle Sex Statistics
                .widgetcontent
                  #piechart(style='height: 300px;')
                // widgetcontent
            // row-fluid

            .footer
              .footer-left
                span 2015. Sawan J. Kapai Harpalani.
            // footer
          // maincontentinner
        // maincontent
      // rightpanel
    // mainwrapper